<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meetup login page</title>

    <style>
      .gradient-custom-2 {
        /* fallback for old browsers */
        background: #fccb90;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(
          to right,
          #ee7724,
          #d8363a,
          #dd3675,
          #b44593
        );

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(
          to right,
          #ee7724,
          #d8363a,
          #dd3675,
          #b44593
        );
      }

      @media (min-width: 768px) {
        .gradient-form {
          height: 100vh !important;
        }
      }
      @media (min-width: 769px) {
        .gradient-custom-2 {
          border-top-right-radius: 0.3rem;
          border-bottom-right-radius: 0.3rem;
        }
      }
    </style>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div>
      <section class="h-100 gradient-form" style="background-color: #eee">
        <div class="container py-5 h-100">
          <div
            class="row d-flex justify-content-center align-items-center h-100"
          >
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
                      <div class="text-center pb-4">
                        {% load static %}
                        <img
                          src="{% static '/logo.webp' %}"
                          style="width: 185px"
                          alt="logo"
                        />
                      </div>
                      <p class="px-1 fw-bold">Please Create New Account</p>

                      <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-outline mb-4">
                          <input
                            type="text"
                            name="full_name"
                            id="=full_name"
                            class="form-control"
                            placeholder="Full Name"
                            required
                          />
                        </div>

                        <div class="form-outline mb-4">
                          <input
                            type="email"
                            name="email"
                            id="email"
                            class="form-control"
                            placeholder="Email"
                            required
                          />
                          <!--<label class="form-label" for="form2Example11">Username</label>-->
                        </div>

                        <div class="form-outline mb-4">
                          <input
                            type="password"
                            name="password1"
                            id="password1"
                            class="form-control"
                            placeholder="Password"
                            required
                          />
                        </div>
                        <div class="form-outline mb-4">
                          <textarea
                            rows="3"
                            id="address"
                            name="address"
                            class="form-control"
                            placeholder="Full Address"
                            required
                          ></textarea>
                        </div>
                        <div class="form-outline mb-4">
                          <input
                            type="number"
                            name="pin_code"
                            id="pin_code"
                            class="form-control"
                            placeholder="Pin Code"
                            maxlength="6"
                            required
                          />
                        </div>

                        <div class="form-outline mb-4">
                          <label class="form-label p-1 fw-bold">Gender </label
                          ><br />
                          <label for="checkmale">
                            <input
                              type="radio"
                              name="gender"
                              value="M"
                              class="p-1 form-check-input"
                              id="checkmale"
                              required
                            />
                            Male
                          </label>
                          
                          <label for="checkfemale" class="px-3">
                            <input
                              type="radio"
                              name="gender"
                              value="F"
                              class="p-1 form-check-input"
                              id="checkfemale"
                              required
                            />
                            Female
                          </label>
                        </div>
                        <div class="input-group">
                            <label class="form-label fw-bold d-block">Profile Picture 
                          <input
                            type="file"
                            class="form-control"
                            id="picture_path"
                            name="picture_path"
                          /></label>
                        </div>
                        <div
                          class="d-flex align-items-center justify-content-center pb-4"
                        >
                          <button type="submit" class="btn btn-outline-danger">
                            Sign up
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div
                    class="col-lg-6 d-flex align-items-center gradient-custom-2"
                  >
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                      <h4 class="mb-4">Let's meet your friends near you</h4>
                      <p class="small mb-0">
                        its a online platform to find friends near your
                        location. Now you don't need to stroll around on your
                        own,find your friends near you and enjoy your vist.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script>
      const successCallback = (position) => {
         console.log(position);
      };

      const errorCallback = (error) => {
         console.log(error);
      };

      navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
    </script>
  </body>
</html>
